In [92]:
# Import necessary libraries
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.metrics import accuracy_score, confusion_matrix
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [93]:
# Step 1: Read the dataset
data = pd.read_csv('Churn_Modelling.csv')  # Make sure the dataset is correctly named

In [94]:
data

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [95]:
data.dtypes

RowNumber            int64
CustomerId           int64
Surname             object
CreditScore          int64
Geography           object
Gender              object
Age                  int64
Tenure               int64
Balance            float64
NumOfProducts        int64
HasCrCard            int64
IsActiveMember       int64
EstimatedSalary    float64
Exited               int64
dtype: object

In [96]:
# Step 2: Preprocess the Data
# Drop unnecessary columns
data = data.drop(['RowNumber', 'CustomerId', 'Surname','Geography','Gender'], axis=1)

In [97]:
# Separate features and target variable
X = data.drop('Exited', axis=1)  # Features
y = data['Exited']               # Target

In [98]:
# # Encode categorical variables
# le_geo = LabelEncoder()
# le_gender = LabelEncoder()
# X['Geography'] = le_geo.fit_transform(X['Geography'])
# X['Gender'] = le_gender.fit_transform(X['Gender'])

In [99]:
X

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,42,2,0.00,1,1,1,101348.88
1,608,41,1,83807.86,1,0,1,112542.58
2,502,42,8,159660.80,3,1,0,113931.57
3,699,39,1,0.00,2,0,0,93826.63
4,850,43,2,125510.82,1,1,1,79084.10
...,...,...,...,...,...,...,...,...
9995,771,39,5,0.00,2,1,0,96270.64
9996,516,35,10,57369.61,1,1,1,101699.77
9997,709,36,7,0.00,1,0,1,42085.58
9998,772,42,3,75075.31,2,1,0,92888.52
9999,792,28,4,130142.79,1,1,0,38190.78

In [100]:
# Split data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Step 3: Normalize the data
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [101]:
X_train

array([[ 0.35649971, -0.6557859 ,  0.34567966, ...,  0.64920267,
         0.97481699,  1.36766974],
       [-0.20389777,  0.29493847, -0.3483691 , ...,  0.64920267,
         0.97481699,  1.6612541 ],
       [-0.96147213, -1.41636539, -0.69539349, ...,  0.64920267,
        -1.02583358, -0.25280688],
       ...,
       [ 0.86500853, -0.08535128, -1.38944225, ..., -1.54035103,
        -1.02583358, -0.1427649 ],
       [ 0.15932282,  0.3900109 ,  1.03972843, ...,  0.64920267,
        -1.02583358, -0.05082558],
       [ 0.47065475,  1.15059039, -1.38944225, ...,  0.64920267,
         0.97481699, -0.81456811]])

In [102]:
# Step 4: Initialize and build the model
model = Sequential([
    Dense(16, input_dim=X_train.shape[1], activation='relu',kernel_initializer='uniform'),
    Dense(8, activation='relu',kernel_initializer='uniform'),
    Dense(1, activation='sigmoid',kernel_initializer='uniform')
])

# Compile the model
model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

# Train the model
model.fit(X_train, y_train, epochs=20, batch_size=32, validation_split=0.2, verbose=1)

Epoch 1/20

/usr/local/lib/python3.10/dist-packages/keras/src/layers/core/dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

200/200 ━━━━━━━━━━━━━━━━━━━━ 2s 4ms/step - accuracy: 0.7867 - loss: 0.6470 - val_accuracy: 0.7987 - val_loss: 0.4401
Epoch 2/20
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8001 - loss: 0.4394 - val_accuracy: 0.7987 - val_loss: 0.4303
Epoch 3/20
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.7934 - loss: 0.4397 - val_accuracy: 0.8050 - val_loss: 0.4223
Epoch 4/20
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.7995 - loss: 0.4353 - val_accuracy: 0.8119 - val_loss: 0.4106
Epoch 5/20
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8080 - loss: 0.4160 - val_accuracy: 0.8388 - val_loss: 0.3974
Epoch 6/20
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8334 - loss: 0.3901 - val_accuracy: 0.8475 - val_loss: 0.3854
Epoch 7/20
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8414 - loss: 0.3933 - val_accuracy: 0.8537 - val_loss: 0.3758
Epoch 8/20
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8561 - loss: 0.3675 - val_accuracy: 0.8525 - val_loss: 0.3704
Epoch 9/20
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8564 - loss: 0.3701 - val_accuracy: 0.8531 - val_loss: 0.3651
Epoch 10/20
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8520 - loss: 0.3686 - val_accuracy: 0.8519 - val_loss: 0.3630
Epoch 11/20
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8562 - loss: 0.3565 - val_accuracy: 0.8531 - val_loss: 0.3613
Epoch 12/20
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8501 - loss: 0.3586 - val_accuracy: 0.8562 - val_loss: 0.3592
Epoch 13/20
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8435 - loss: 0.3763 - val_accuracy: 0.8537 - val_loss: 0.3581
Epoch 14/20
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8588 - loss: 0.3549 - val_accuracy: 0.8531 - val_loss: 0.3573
Epoch 15/20
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8573 - loss: 0.3555 - val_accuracy: 0.8512 - val_loss: 0.3584
Epoch 16/20
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8554 - loss: 0.3512 - val_accuracy: 0.8519 - val_loss: 0.3565
Epoch 17/20
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8566 - loss: 0.3483 - val_accuracy: 0.8519 - val_loss: 0.3569
Epoch 18/20
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8552 - loss: 0.3563 - val_accuracy: 0.8544 - val_loss: 0.3548
Epoch 19/20
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8552 - loss: 0.3538 - val_accuracy: 0.8537 - val_loss: 0.3555
Epoch 20/20
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8605 - loss: 0.3399 - val_accuracy: 0.8556 - val_loss: 0.3546

In [103]:
# Step 5: Evaluate the model
# Predict on the test set
y_pred = (model.predict(X_test) > 0.5).astype("int32")

# Calculate accuracy and confusion matrix
accuracy = accuracy_score(y_test, y_pred)
conf_matrix = confusion_matrix(y_test, y_pred)

# Print the results
print(f"Accuracy Score: {accuracy}")
print("Confusion Matrix:")
print(conf_matrix)

63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step
Accuracy Score: 0.857
Confusion Matrix:
[[1559   48]
 [ 238  155]]

In [104]:
from sklearn.metrics import confusion_matrix,classification_report
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.87      0.97      0.92      1607
           1       0.76      0.39      0.52       393

    accuracy                           0.86      2000
   macro avg       0.82      0.68      0.72      2000
weighted avg       0.85      0.86      0.84      2000